body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#navbar{
    display: flex;
    flex-direction: column;
    /* justify-content:space-between; */
    font-weight: 800;
    padding: 20px;
    /* background-color: rgb(227, 227, 227); */
    margin-top: 0;
    height: 100vh;
    width: 15%;
    float: left;
    position: fixed;
    margin-top: 0px;
    background-color: black;
    background-color: rgb(65, 112, 194);
    color: white;
}

#nav-logo{
    margin-left: 50px;
}

#profile-pic img{
    width: 200px;
}



#nav-detail{
    text-align: center;
}

#nav-detail h1{
    /* background-color: aqua; */
    margin-bottom: 0;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 800;
    animation-name: name1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes name{
    0%   {color: rgb(6, 6, 6);}
    25%   {color: rgb(170, 189, 67);}
  50%  {color: rgb(255, 217, 0);}
  100% {color: rgb(69, 222, 69);}

}

#nav-detail p{
    font-weight: 300;
    font-size: 13px;
    margin-top: 0;
    
    /* background-color: yellowgreen; */

}

#nav-options{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 100px;
}

#nav-options span{
    margin-bottom: 20px;
    font-weight: 500;
    color: black;
}

#nav-options a{
    text-decoration: none;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

#nav-options a:hover{
    color: black;
    cursor: pointer;
}

#nav-social{
    display: flex;
    justify-content: space-around;
    margin-top: 30vh;
}

#nav-social img{
    width: 30px;
    filter: invert(180);
}

#nav-social img:hover{
    cursor: pointer;
    filter: invert(0);
    
}

section{
    /* background-color: brown; */
    /* float: right; */
    /* position:absolute; */
    z-index: -1;
    padding-left: 20%;
    height: auto;
}

.home-text{
    margin-top: 20vh;
}

.home-text h1{
    font-size: 70px;
    margin-bottom: 10px;
    line-height: 80px;
}

.home-text p{
    /* width: 50%; */
    margin-top: 0px;
}

#home{
    height: 100vh;
    width: 80%;
    background-image: url("images/pic2.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    position: absolute;
    background-position: right;
    border-bottom: 20px solid rgba(0, 0, 0, 0.171);
    /* filter: drop-shadow(0.6rem 0.6rem 1rem rgba(45, 45, 45, 0.8)); */
}

#home-image{
    width: 250px;
    background-color: blue;
    margin-right: 0px;
    
}

#home-btn{
    background-color: rgb(65, 112, 194);
    color: white;
    height: 50px;
    width: 210px;
    border: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.777);
    border-radius: 25px;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#home-btn img{
    margin-left: 10px;
    filter: invert(180);
}

#home-btn:hover{
    background-color: black;
    cursor: pointer;
    box-shadow: 0px 0px 30px rgb(0, 61, 166);
}

#about{
    position: absolute;
    margin-top: 100vh;
    width: 80%;
    /* background-color: aquamarine; */
}

.heading{
    font-size: 70px;
    position: relative;
    color: rgb(65, 112, 194);
    margin-bottom: 0;
    font-weight: 900;
    margin-top: 0;
    /* text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.566); */
}

#about{
    height: 110vh;
    border-bottom: 20px solid rgba(0, 0, 0, 0.171);
    background-image: url("images/pic5.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    position: absolute;
    background-position-x: 200px;
    
}


.about-container{
    display: flex;
    /* background-color: aqua; */
    margin-top: 10vh;
}

.about-container img{
    width: 45%;
}

.about-text{
    /* background-color: brown; */
    padding-left: 30px;
    padding-right: 50px;
    width: 50%;
    margin-left: 400px;
}



#skills{
    position: absolute;
    margin-top: 210vh;
    width: 80%;
    height: 110vh;
    /* border-bottom: 20px solid rgba(0, 0, 0, 0.171); */
    background-image: url("images/wave.png");
    background-repeat: no-repeat;
    background-position-y: 130px;
    background-size: cover;
}

#skills-heading{
    margin-top: 50px;
}

.skill-section-container{
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.skill-type{
    font-size: 30px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.512);
    min-width: 200px;

}

.skill-container{
    display: flex;
    margin-top: 0;  
}
.icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.icon-container p{
    margin-top: 0%;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.728);
}

.skill-icons{
    scale: 0.6;
}

.skill-icons:hover{
    filter: none;
    scale: 0.80;
    filter: drop-shadow(3px 5px 5px rgb(0 0 0 / 0.8));
}

#contact{
    position: absolute;
    margin-top: 325vh;
    width: 80%;
    height: 120vh;
    /* border-bottom: 20px solid rgba(0, 0, 0, 0.171); */
    background-image: url("images/wave3.png");
    background-repeat: no-repeat;
    background-position-y: 450px;
    background-size: contain;
    /* background-position: bottom; */
}

#form-container{
    /* background-color: aqua; */
    width: 400px;
    /* border: 1px solid black; */
    /* padding-left: 20px;
    padding-right: 20px; */
    padding-top: 0;
    border-radius: 20px;
    box-shadow: 5px 5px 50px #414141aa;
    margin: auto;
    background-color: rgb(243, 243, 243);
}

form{
    padding: 20px;
}

form label{
    color: rgb(8, 58, 85);
    margin-top: 0;
    font-weight: 500;
}

.inp{
    width: 100%;
    height: 30px;
    height: 45px;
    margin-top:5px;
    margin-bottom: 15px;
    /* border-top: 1px;
    border-left: 1px;
    border-right: 1px; */
    border-radius: 5px;
    border: 0px solid rgba(0, 0, 0, 0.528);
    background-color: rgba(128, 128, 128, 0.292);
}

#submit-btn{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(0,105,163);
    color: white;
    border: 0px;
    margin-bottom: 20px;
    font-size: 18px;
}

#submit-btn:hover{
    cursor: pointer;
    background-color: black;
}

#msg-box{
    height: 10px;
    background-color: blueviolet;
}

#msg-box::placeholder{
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
}

#form-image{
    background-image: url("https://images.all-free-download.com/images/graphiclarge/abstract_backgrounds_pattern_537133.jpg");
    padding: 0;
    margin: 0;
    margin-top: 0;
    height: 70px;
    border-radius: 20px 20px 0px 0px;
    
}

#contact-heading{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.resume-container{
    margin-top: 80px;
    width: 20%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
}

.resume-container img{
    scale: 0.7;
    border-radius: 50%;
    /* border: 4px solid rgb(0, 0, 0); */
    padding: 5px;

    animation-name: res;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes res{
    0%   {background-color: rgba(6, 6, 6, 0.021);}
    50%   {background-color: rgba(0, 106, 163, 0.431);}
  

}

.resume-container img:hover{
    cursor: pointer;
    box-shadow: 5px 5px 20px black;
    border: 0ch;
    padding: 10px;
    background-color: rgb(0, 106, 163);
    animation-name: dss;
}

.resume-container label{
    text-align: center;
    /* background-color: aqua; */
    width: 100px;
    line-height: 1px;
}

.resume{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.resume img{
    scale: 0.9;
    height: 30px;

}